spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/appdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

    hibernate:
      ddl-auto: validate   # none | validate | update | create | create-drop

    show-sql: true

    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
